/* You can add global styles to this file, and also import other style files */
/*@import "~@angular/material/prebuilt-themes/indigo-pink.css";*/
@import 'theme.scss';
@import '~firebaseui/dist/firebaseui.css';
html, body { height: 100%; }
body { margin: 0; margin-bottom: 60px; font-family: Roboto, "Helvetica Neue", sans-serif; }

.center-chips {
    /* is there a better way to center the chips? */
    margin: auto;
    width: 50%;    
  }
/* Add application styles & imports to this file! */

h2.page-title{
    text-align: center;
    margin-top: 26px;
}

.page {
    margin-left: 10%;
    margin-right: 10%;
}

footer{
    position:absolute;
    bottom:0;
    background: #f5f5f5;
    width: 100%;
    text-align: center;
    padding: 10px 0;
}