/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~firebaseui/dist/firebaseui.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Add application styles & imports to this file! */

h2.page-title{
    text-align: center;
    margin-top: 26px;
}

.page {
    margin-left: 10%;
    margin-right: 10%;
}
