<div fxLayout="column" fxLayoutAlign="center" class="page" fxLayoutGap="20px">
    <div fxLayout="row" fxFlexAlign="center">
        <h1>Welcome User</h1>
    </div>
    <div fxLayout="row" fxFlexAlign="center" fxLayoutGap="20px">
        <div fxLayout="column">
            <mat-card class="dash-card">
                <img mat-card-image src="https://via.placeholder.com/600x400" alt="placeholder">
                <mat-card-actions>
                  <button mat-flat-button color="primary">Browse Videos</button>
                </mat-card-actions>
              </mat-card>
        </div>
        <div fxLayout="column">
            <mat-card class="dash-card">
                <img mat-card-image src="https://via.placeholder.com/600x400" alt="placeholder">
                <mat-card-actions>
                  <button mat-flat-button color="primary">Browse Videos</button>
                </mat-card-actions>
              </mat-card>
        </div>
    </div>
    <div fxLayout="row" fxFlexAlign="center">
        <button mat-flat-button color="primary">Upload Media</button>
    </div>
</div>