<div>
    <button (click)="toggleDisplayPending()">Pendings</button> <button (click)="toggleDisplayPending()">Accepted</button>
</div>

<table>
    <thead>
        <tr>
            <th>Ticket ID</th>
            <th>Issuer ID</th>
            <th>Date Issued</th>
            <th>Video</th>
            <th>Passcode</th>
            <th>Topic</th>
            <th>Description</th>
            <th>Starting Time</th>
            <th>Ending Time</th>
        </tr>
    </thead>
    <tbody>
        <tr class="active-row" *ngFor= "let r of allPendingTickets">              
            <td>{{r.ticketID}}</td>
            <td>{{r.issuerID}}<br> </td>
            <td>{{r.dateIssued}}<br></td>
            <td>{{r.identifier}}</td>
            <td>{{r.zoompasscode}}</td>
            <td>{{r.topic}}</td>
            <td>{{r.Description}}</td>
            <td>{{r.startTime}}</td>
            <td>{{r.endTime}}</td>
            <button (click)="updateTicketStatusToAcknowledged(r)">Accepte</button>
        </tr>
    </tbody>
</table>

