

<h2>{{video?.description}}</h2>
<h4>Tags</h4>
<mat-chip-list aria-label="Tags">
  <mat-chip>One fish</mat-chip>
  <mat-chip>Two fish</mat-chip>
  <mat-chip>Primary fish</mat-chip>
  <mat-chip>Accent fish</mat-chip>
</mat-chip-list>

<video
    id="my-video"
    class="video-js"
    controls
    preload="auto"
    width="640"
    height="264"
    data-setup="{}"
  >
    <source src="{{video?.url}}" type="video/mp4" />
    <p class="vjs-no-js">
      To view this video please enable JavaScript, and consider upgrading to a
      web browser that
      <a href="https://videojs.com/html5-video-support/" target="_blank"
        >supports HTML5 video</a
      >
    </p>
  </video>