<div class="page" fxLayout="column">
  <div fxLayout="row" fxLayoutAlign="center">
    <div fxLayout="column">
      <!--(How have we not added titles!)-->
      <h2 style="text-align: center; margin-top: 1em;">{{video?.title}}</h2>
      <h4>{{video?.description}}</h4>
    </div>
  </div>

<div :*ngIf= video >
  <app-vjsplayer [options]="{fluid: false, height: 360, width : 640, muted : false, autoplay: false, playbackRates:[0.5, 1, 2], sources: [{ src: video.url, type: 'video/mp4' }]}"></app-vjsplayer>
</div>

<div fxLayout="row" fxLayoutAlign="center" style="margin-top: 20px;">
  <div fxLayout="column">
  <!-- <h4>Tags:</h4> (no heading I think)-->
  <mat-chip-list aria-label="Tags">
    <div :*ngFor="let tag of topics">
      <mat-chip *ngIf="tag.name != 'Title'" [ngStyle] =  "colorService.getColorStringFromTag(tag)" (click) = "searchTag(tag)"  >{{tag.value}}</mat-chip>
    </div>
  </mat-chip-list>
  </div>
</div>
