<div style="margin-left: 4em; margin-right: 4em;">
  <!--(How have we not added titles!)-->
  <h2 style="text-align: center; margin-top: 1em;">{{getTitleTag()}}</h2>

  <div class ="center-chips" style="margin-bottom: 1em;">
    <!-- <h4>Tags:</h4> (no heading I think)-->
    <mat-chip-list aria-label="Tags">
      <div :*ngFor="let tag of video?.tags">
        <mat-chip *ngIf="tag.name != 'Title'">{{tag.value}}</mat-chip>
      </div>
    </mat-chip-list>
  </div>


<div :*ngIf= video >
  <app-vjsplayer [options]="{fluid: false, height: 360, width : 640, muted : false, autoplay: false, playbackRates:[0.5, 1, 2], sources: [{ src: video.url, type: 'video/mp4' }]}"></app-vjsplayer>
</div>

<!-- <h4>Tags</h4>
<mat-chip-list aria-label="Tags">
  <div :*ngFor="let tag of video?.tags"><mat-chip>{{tag.value}}</mat-chip></div>
</mat-chip-list> -->
