<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title><a routerLink="{{video?.id}}">{{video?.description}}</a></mat-card-title>
      <mat-card-subtitle>Video</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{video?.url}}" alt="Video URL">
    <mat-card-content>
        <div *ngFor="let tag of video?.tags">
           <button mat-button>{{tag.value}}</button>
        </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  