.video-card {
    margin-bottom: 10px;
}

/*What is this*/
.example-header-image {
  background-image: url('https://via.placeholder.com/600x400');
  background-size: cover;
}

.mat-card-image {
  width: calc(100% + 32px);
  margin: -16px;
}

.card-custom-title{
  text-decoration: none;
  color: black;
}
