<mat-card class="video-card shadow panel" routerLink = "videos/{{video?.id}}" role="button" (click) = "click()" fxLayout="row" fxLayoutGap="40px">
  <div fxFlex="20" fxLayout="column">
    <video mat-card-image>
      <source src="{{video?.url}}" type="video/mp4" alt="thumbnail">
    </video>
  </div>
  <div fxLayout="column">
    <mat-card-header>
      <mat-card-title *ngIf="!video?.title" class="card-custom-title">No Title</mat-card-title>
      <mat-card-title class="card-custom-title">{{video?.title}}</mat-card-title>
      <mat-card-subtitle>
        <p style="margin-bottom: 0;">By {{video?.displayName}} - {{video?.date}}</p>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>{{video?.description}}</p>
      <div style="display: flex;">
        <div *ngFor="let tag of topics">
          <button mat-button [ngStyle] =  "colorservice.getColorStringFromTag(tag)"  style="margin: 2px;" tabindex="0">{{tag.value}}</button>
      </div>
      </div>
    </mat-card-content>
  </div>
</mat-card>
