<div class="page">
    <div fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center">
        <!-- Title of the page  -->
        <h2 class="page-title">Upload a file</h2>

        <!-- Form fields -->
        <div id="upload-form">

            <!-- TITLE -->
            <div fxLayoutAlign="center" fxFlexFill>
                <mat-form-field appearance="outline" class="input-field">
                    <mat-label for="file-title">Title</mat-label>
                    <input matInput type="text" id="file-title" name="file-title" [(ngModel)]="title">
                </mat-form-field>
            </div>

            <!-- BATCH -->
            <div fxLayoutAlign="center" fxFlexFill>
                <mat-form-field appearance="outline" class="input-field">
                    <mat-label for="file-batch">Batch</mat-label>
                    <input matInput type="text" id="file-batch" name="file-batch" [(ngModel)]="batch">
                </mat-form-field>
            </div>

            <!-- TOPICS -->
            <div fxLayoutAlign="center" fxFlexFill>
                <mat-form-field appearance="outline" class="input-field">
                    <mat-label>Topics</mat-label>
                    <mat-chip-list #chipList aria-label="Tag selection">
                        <mat-chip *ngFor="let tag of tags" [selectable]="selectable" [removable]="removable" (removed)="remove(tag)">
                            {{tag.value}}
                            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                        </mat-chip>
                        <input #input placeholder="New topic..." [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
                    </mat-chip-list>
                </mat-form-field>
            </div>

            <!-- DESCRIPTION -->
            <div fxLayoutAlign="center" fxFlexFill>
                <mat-form-field appearance="outline" class="input-field">
                    <mat-label for="file-description">Description</mat-label>
                    <textarea matInput type="text" id="file-description" name="file-description" [(ngModel)]="description"></textarea>
                </mat-form-field>
            </div>

            <!-- Private Checkbox -->
            <div fxLayoutAlign="center" fxFlexFill>
              <section class="example-section">
                <!-- <mat-checkbox class="example-margin">Private</mat-checkbox> -->
                <input id="private" type="checkbox" [(ngModel)]="private">
                <label for="private">Private</label>
              </section>
            </div>

            <!-- Displays Whitelist Select if is Private -->
            <div [ngClass]="{ 'hidden': !private }">
              <div fxLayoutAlign="center" fxFlexFill>
                <app-whitelist-select (selectedUserIDs)="setUserList($event)"></app-whitelist-select>
              </div>
            </div>

            <!-- Old  -->
            <div fxLayoutAlign="center">
                <label class="btn btn-default">
                    <input #file type="file" (change)="selectFile($event)" />
                </label>
            </div>

            <br>
            <!-- UPLOAD BUTTON -->
            <div fxLayoutAlign="center" fxFlexFill>
                <button class="upload-button" mat-flat-button color="primary" [disabled]="!selectedFiles" (click)="upload()">Upload</button>
            </div>
        </div>
    </div>
</div>
