<div class="page" fxLayout="column">
	<div class="content" fxLayout="column" fxLayout.xs="column" fxFlexFill>
        <div fxFlex="10" fxFlexAlign="center">
            <h2 class="page-title">Videos</h2>
        </div>
        <div fxFlex="10" fxFlexAlign="center" fxLayout="row">
            <app-searchbar></app-searchbar>
            <button class="search-btn" mat-flat-button color="primary" (click)="onSearch()">Search</button>
            <br>
        </div>
        <div fxFlex="10" fxFlexAlign="center" fxLayout="row">
            <app-filter></app-filter>
        </div>
        <div fxFlex="10" fxFlexAlign="center" fxLayout="row" class="no-results" *ngIf="noResults" >
            No results found for selected criteria. Please try again!
        </div>
        <div fxFlex="10" fxLayoutAlign="center" fxLayout="row" fxLayoutGap="10px">
            <div *ngFor="let video of videos">
                <app-video-panel [video] = video></app-video-panel>
            </div>
        </div>
	</div>
</div>
