<nav mat-tab-nav-bar class="shadow">
    <a routerLink="">
    <img src="../../../assets/images/revature-logo.jpg" class="logo">
    </a>

    <a mat-tab-link routerLink="/videos" style="height: 66px">Videos</a>
    <a mat-tab-link routerLink="/notes" style="height: 66px">Notes</a>
    <a mat-tab-link routerLink="/upload" style="height: 66px">Upload</a>
    
    <span class="example-spacer"></span>
    
    <a mat-tab-link  style="height: 66px" (click)="onLogout()" *ngIf="authService.displayName">Logout</a>
</nav>
  



