<mat-toolbar>
    <a routerLink="">
    <img src="../../../assets/images/revature-logo.jpg" routerLink="home" class="logo">
    </a>
    <a routerLink="" class="logo-text" mat-button>Chronicle</a>
    <a mat-button routerLink="/videos">Videos</a>
    <a mat-button routerLink="/notes">Notes</a>
    <span class="example-spacer"></span>
    
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>perm_identity</mat-icon>      
    </button>
  </mat-toolbar>
  