<div fxLayout="row" fxLayoutAlign="center">

    <table>
        <thead>
        <tr>
            <th>Date</th>
            <th>Message</th>
        </tr>
    </thead>
    <tbody>
        <tr class="active-row" *ngFor= "let n of notifications" >              
            <td>{{n.senddate | date: 'shortDate'}}</td>
            <td>{{n.note'}}</td>
           
        </tr>
        <!--delete next tr-->
        <!-- <tr class="active-row" >              
            <td>08-08-2020</td>
            <td>Ticket number 5776 was approved</td>
            
        </tr> -->
    </tbody>
</table>
</div>